.div{
    position: relative;
    margin-bottom: 42px;
    margin-right: 250px;
}
.search {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: #CC6600;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  .search:focus {
    width: 20%;
  }